
body {
    overflow: hidden;
    color: #550055;
    background-color: #505962;
}

/*  nav scroll offet */
.offset::before {
    height: 4rem;
    margin-top: -4rem;
    display: block;

}

/* extrap padding */
[class*='col-'] {
    padding: 1rem;

}

/* navigation */
.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;

}
.navbar img{
    height: 2rem;

}
.navbar-nav li{
    padding-right: 1rem;
}
.navbar-nav .nav-link{
    color: white;padding-right: .7rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover
{
    color: #1ebba3;

}
.navbar{
    background: rgba(0,0,0,0.7)!important;
    transition: background-color 1s ease 0s;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
